body
{
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul
{
 list-style-type: none;
 padding-left: 0;
 margin: 0;
}
h1,h2,h3,p
{
  margin: 0;
}
img,button
{
  display: block;
}
img
{
 max-width:100%;
}
.section
  {
    padding: 120px 0;
  }
  .container
  {
      max-width: 1128px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left:  auto;
      margin-right: auto;
  }
  .header-section .container,
  .head-nav,
  .nav-list,
  .contacts,
  .contacts-list
  {
    display: flex;
  }
  .header-section .container, .contacts-list
  {
    align-items: center;
  }
  .header-section
  {
    border-bottom: 1px solid #E7E9FC;

  }
  .contacts
  {
    font-style: normal;
    margin-left: auto;

  }
.contacts-list, .nav-list
{
  column-gap: 40px;
}
.footer-section, .banner
{
  background-color: #2E2F42;
}
.banner
{
  padding: 188px 0;
}
.footer-text
{
  color: #F4F4FD;
  max-width: 264px;
}
.order-btn
{
  background: #4D5AE5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-btn:hover
{
  background: #404BBF;
  cursor: pointer;
}
.link:hover,
.link:focus
{
  color: #404BBF;
}
.link-contact
{
  color: #434455;
  display: block;
}
.link-nav
{
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.logo, .logo-pref
{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo
{
  display: block;
  margin-right: 76px;
}
.link
{
  text-decoration: none;
  color: #2E2F42;
  padding: 24px 0;
}
.logo-pref
{
  color: #4D5AE5;
}
.footer-section .logo
{
  display: inline-block;
  color: #ffffff;
  padding-bottom: 16px;
}
.main-header
{
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
  margin-left:  auto;
  margin-right: auto;
  max-width: 496px;
}
.section-header
{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}
.card-header
{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2E2F42;
  margin-bottom: 8px;
}
.hero-list .card-header,
.hero-prophecy
{
  text-align: center;
}
.our-team
{
  background-color: #F4F4FD;

}
.list-card
{
  width: calc(100% - 72px) / 4;
  padding-bottom: 32px;
}
.hero-card
{
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px #2E2F4214,
   0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;

}
.prtf-card
{
  width: calc((100% - 48px) / 3);
  padding-bottom: 32px;
  border: 1px solid #E7E9FC;

}
.benefits-list,
.hero-list, .prtf-list
{
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-content: center;
}
.prtf-list
{
  flex-wrap: wrap;
  row-gap: 48px;
}
.card-content
{
  padding: 0 16px;
}
.team-image, .prtf-image
{
  margin-bottom: 32px;
}
.footer-section
{
  padding: 100px 0;
}

