body
{
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul
{
 list-style-type: none;
 padding-left: 0;
 margin: 0;
}
h1,h2,h3,p
{
  margin: 0;
}
img,a,button
{
  display: block;
}
img
{
 width:100%;  
}
.container
{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section
  {
    padding: 120px 0;
  }
  .container-header,
  .head-nav,
  .nav-list,
  .contacts
  {
    display: flex;
  }
  .container-header
  {
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
  }
.nav-list, .contacts
  {
    column-gap: 40px;
  }
.head-nav
{
  margin-right: auto;
}
.footer-section, .banner
{
  background-color: #2E2F42;
}
.banner
{
  padding: 188px 0;
}
.footer-text
{
  color: #F4F4FD;
  width: 264px;
}
.order-btn
{
  background: #4D5AE5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
}
.order-btn:hover
{
  background: #404BBF;
  cursor: pointer;
}
.link:hover
{
  color: #404BBF;
}
.link:active
{
  color: #404BBF;
}
.link-contact
{
  color: #434455;
}
.link-nav
{
  font-size: 16px;
  font-weight: 500;
  padding: 24px 0;
}
.logo,.logo-pref
{
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo
{
  padding:25.5px 0;
  margin-right: 76px;
}
.link
{
  text-decoration: none;
  color: #2E2F42;
}
.link-contact
{
  padding: 24px 0;
}
.logo-pref
{
  color: #4D5AE5;
}
.footer-section .logo
{
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
}
.main-header
{
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
}
.section-header
{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}
.card-header
{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2E2F42;
  margin-bottom: 8px;
}
.hero-list .card-header,
.hero-prophecy
{
  text-align: center;
}
.our-team
{
  background-color: #F4F4FD;

}
.list-card
{
  width: calc(100%-96)/4;
  padding-bottom: 32px;
}
.prtf-card
{
  width: calc(100%-72)/3;
}
.benefits-list,
.hero-list
{
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.prtf-list
{
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.team-image, .prtf-image
{
  margin-bottom: 32px;
}
.footer-section
{
  padding: 100px 0;
}
.footer-list
{
  display: flex;
  flex-direction:column;
}