body
{
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul
{
 list-style-type: none;
}
.footer-section,.banner
{
  background-color: #2E2F42;
}
.footer-text
{
  color: #F4F4FD;
}
.order-btn
{
  background: #4D5AE5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.order-btn:hover
{
  background: #404BBF;
  cursor: pointer;
}
.link:hover
{
  color: #404BBF;
}
.link:active
{
  color: #404BBF;
}
.link-contact
{
  color: #434455;
}
.link-nav
{
  font-size: 16px;
  font-weight: 500;
}
.logo,.logo-pref
{
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link
{
  text-decoration: none;
  color: #2E2F42;
}
.logo-pref
{
  color: #4D5AE5;
}
.footer-section>.logo
{
  color: #ffffff;
}
.main-header
{
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}
.section-header
{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2E2F42;
}
.card-header
{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2E2F42;
}
.contacts
{
  font-style: normal;
}
.our-team
{
  background-color: #F4F4FD;
}
.team-card
{
  box-shadow: 0px 2px 1px 0px #2e2f4214,
  0px 1px 1px 0px #2e2f4229,
  0px 1px 6px 0px #2e2f4214;
}